<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('../../partials/head'); %>
    <meta http-equiv="Content-Type" content="text/html; charset= ISO-8859-1"> 
</head>
<% var htmlEscapes = {
    '&': '&amp;',
    '<': '&lt;',
    '>': '&gt;',
    '"': '&quot;',
    "'": '&#x27;',
    '/': '&#x2F;'
  };
%>
<% var htmlEscape = /[&<>"'\/]/g; %>
<% function escapeHTML(string) {
    return ('' + string).replace(htmlEscape, function(match) {
        return htmlEscapes[match];
      });
   }
%>
<body class="container">

    <header>
        <%- include('../../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>XSS Mitigated Form</h1>
            <p>The following table has details from the table 'users'. 
                Click on the buttons below to do appropriate changes to the information.</p>
        </div>
    </main>

    <a href="/xss-xxe/show"><button type="button" class="btn btn-dark">Show</button></button></a>
    <br>
    <br>
    <div class="container">
        <form action="" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" pattern="[A-Za-z ]+" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="designation" id="designation" placeholder="Designation" pattern="[A-Za-z ]+" required>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Add User</button>
        </form>
    </div>

    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>

</html>