<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../../partials/header'); %>
    </header>

    <main>
        <main>
            <div class="jumbotron">
                <h1>SQL Injection</h1>
                <p>Welcome to SQL Testing. Machine Learning is used for detection.</p>
                <a href="/sql/index">Click here to mitigate and test for SQL Injections.</a>
            </div>
            
        </main>

    </main>
    <form method="POST" action="/sql/sqli-ml">
        <input type="text" name="username" placeholder="Username" />
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>

</html>