<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Security Project</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/xss-xxe/show">XSS/XXE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sql/index">SQL Injection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/insecure/index">Sensitive Data Exposure</a>
        </li>
    </ul>
</nav>  