<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container">

    <main>
        <div class="jumbotron">
            <h1>Login</h1>
            <p>Enter your username and password.</p>
        </div>
    </main>

    <form method="POST" action="/index">
        <input type="text" id="id" name="username" placeholder="Enter Username" autocomplete="off" required/>
        <br>
        <br>
        <input type="password" id="id" name="password" placeholder="Enter Password" autocomplete="off" required/>
        <br>
        <br>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>

</html>